@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,700|Raleway:100,400,800&display=swap');

body {
  background-color: #b3ffe6;
  font-size: 20px;
  font-family: Martel,sans-serif;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
li {
  background-color: white;
  padding: 30px;
  font-size: 30px;
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: inline-block; */
}
li:hover {
  opacity: 0.5;
  border: 3px;
}

h1 {
  font-style: normal;
  text-align: center;
  font-size: 45px;
  font-family: Raleway, sans-serif;
  margin: 10px 10px;
}

h2 {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 20px;
  font-style: normal;

}

/* .mammals { */
  color: red;
  padding: 0 30px
}
/* .fish { */
  color: orange;
  text-decoration: underline;
}
/* .birds{ */
  color: blue;
  font-style: italic;
  margin-top: 30px;
  padding-bottom: 40px;
}
/* #firstList { */
 background: lime;
}
